<!doctype html>
<html lang="en">

<head>
	<meta charset="utf-8" />
	<title>summerCamp</title>
</head>

<body>
    <h1>Applicants Data</h1>
    <b>Name: </b> <%- name %> 
    <br>
    <b>Email Address: </b> <%- email %> 
    <br>
    <b>GPA: </b> <%- gpa %> 
    <br>
    <b>Background Information: </b>
    <br>
    <%- back_info %> 
    <hr>
    <b>Task completed at <%- time %> </b>
    <hr>
    <a href="/">Home</a>
</body>

</html>